ion-tool-bar{
    display: inline-flex;
}

ion-label{
    padding: 0px;
    margin: 40px;
    margin-right: 40px;
    margin-left: 40px;

}

.limCartas{
    position: absolute;
    display: inline;
}

.tiempoLimRadio{
    display: flex;
    
    flex-wrap: nowrap;
    min-width: 30%;
    flex-grow: 4;
    align-items: baseline;
    width: 30%;
}
.RadioTL {
    display: flex;
    
    column-gap : 15px;
    justify-content: space-evenly;
    flex-basis:content;
}


@media (max-width: 1000px) {
    
    .tiempoLimRadio {
    display: flex;
    
    flex-wrap: nowrap;
    flex-grow: 2;
    gap: 1px;
    align-items: baseline;
    }
    .RadioTL {
        display: flex;
        
        gap: 15px;
        flex-basis:content;
    }
}

@media (max-width: 800px) {
    
    .tiempoLimRadio {
    display: flex;
    
    flex-wrap: nowrap;
    flex-grow: 2;
    gap: 1px;
    align-items: baseline;
    }
    .RadioTL {
       display: flex;
       
       gap: 15px;
       flex-basis:content;
    }
}

@media (max-width: 400px) {
    .tiempoLimRadio {
    display: flex;
    margin-top: 120px;
    flex-wrap: nowrap;
    flex-grow: 2;
    gap: 1px;
    align-items: baseline;
    }
    .RadioTL {
        display: flex;
        
        position: absolute;
        gap: 15px;
    }
}


ion-toggle {
    padding-top: 5px;
    padding-bottom: 5px;
}

ion-list {
    display: contents;
    margin: 0; padding: 0;
}

ion-list-header {
    margin: 0; padding: 0;
    display: inline;
    
}

ion-back-button{
    display: inline-flex;
    --icon-padding-end: 6px;
    margin-left: 15px;
    --border-radius: 15px;
}
ion-radio-group{
    margin: 0px;
    padding-left: 45px;
    padding-right: 5px;
    display: inline-flex;
}
ion-radio{
  --color: rgb(0, 0, 0);
}

h2{ 
    margin-left: 45px;
    font-size: 17px;
    display: inline-flex;
    padding-bottom: 15px;
}
ion-label{
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
}