
.añadirItem{
    color: black;
    --color: black;
    --placeholder-color: black;
    font-variant: small-caps;
}
.mazoSelect .select-interface-option {
    display: flex;
    padding-left: 5%;
    margin-left: 1%;
    margin-right: 1%;
    width: 280px;
  }

  ion-select {
    --placeholder-color:#000000;
  }
  
  .sc-ion-action-sheet-md-h {
    --button-background-hover: #e97223;
    --button-background-hover-opacity: .2;
    --button-color-hover: #000000;
  }


  .action-sheet-button.sc-ion-action-sheet-md{
    width: 280px;
  }

 .mazoSelect .alert-wrapper {
    --color: #000000;
    --background: #f58840;
    --placeholder-color:#000000;
    --backdrop-opacity: 0.6;
    --button-background-selected: #e97223;
    --button-color: #000000;
    --min-width: 90%;
  }

  .mazoSelectContainer{
      color: #000000;
      width: auto;
  }


