* { margin: 0; padding: 0; }

ion-title {
    margin-left: 15px;
}

ion-list {

    display: inline;
    width: 100%;

}

h4{
    display: flex;
    margin:auto;
    position: relative;
    text-align: center;
}
