* { margin: 0; padding: 0; }

ion-title {
    margin-left: 15px;
}

ion-list {
    display: flex;
    min-height: 300px;
    width: 100%;
    margin-bottom: 10px;

}

h4{
    display: flex;
    margin:auto;
    position: relative;
    text-align: center;
}
