
ion-fab-list{
    margin-bottom: 55px;
}

ion-fab-button::part(native) {  
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
    color: black;
  }


.popover-button-deck{
    margin-bottom: 6px;
} 

.popover-button-card{
    margin-bottom: 6px;
    
}

.edit-icon{
    content: url("../images/edit.png") !important;
    font-size: 56px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
    color: black;
}

.ecard-icon{
    content: url("../images/editar-mazos.png") !important;
    font-size: 40px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
    color: black;
}

.edeck-icon{
    content: url("../images/editar-cartas.png") !important;
    font-size: 40px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
    color: black;
}

.card-icon{
    content: url("../images/cartas.png") !important;
    font-size: 40px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
    color: black;
}

.deck-icon{
    content: url("../images/mazo.png") !important;
    font-size: 40px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
    color: black;
}

ion-title {
    margin-left: 15px;
}

ion-list {
    display: flex;
    min-height: 300px;
    width: 100%;
    margin-bottom: 10px;
}

h4{
    display: flex;
    margin:auto;
    position: relative;
    text-align: center;
}
