.usuario{
    color: black;
    --color: black;
    --placeholder-color: black;
    font-variant: small-caps;
    --ion-text-color: #000000;

}
.loginContainer{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 15px;
    flex-direction: row;
    width: 30%;
    margin:auto;
    margin-top: 90px;
}

.loginSubmit{
    position: relative;
    left: 20%;
    top: 10%;
}

@media (max-width: 1000px) {
    
    .loginContainer{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        display: flex;
        padding: 15px;
        flex-direction: row;
        width: 30%;
        margin:auto;
        margin-top: 90px;
    }
}

@media (max-width: 800px) {
    
    .loginContainer{
        position: absolute;
        left: 40%;
        top: 40%;
        transform: translate(-50%, -50%);
        display: flex;
        padding: 35px;
        flex-direction: row;
        width: 35%;
        margin:auto;
        margin-top: 90px;
    }
}

@media (max-width: 400px) {
    .loginContainer{
        position: absolute;
        left: 45%;
        top: 40%;
        transform: translate(-50%, -50%);
        display: flex;
        padding: 25px;
        flex-direction: row;
        width: 35%;
        margin:auto;
        margin-top: 90px;
    }
}