ion-item{
    --color: black;
    --placeholder-color: black;
    color: black;
}
ion-input{
    --color: black;
    --placeholder-color: black;
    font-variant: small-caps;
    
}
.registroContainer{
        padding: 15px;
        width: 5cm;
        margin:auto;
        background-color: #222428;
        margin-top: 90px;

}