ion-item{
    --color: black;
    --placeholder-color: black;
    color: black;
}
ion-input{
    --color: black;
    --placeholder-color: black;
    font-variant: small-caps;
    
}
.registroContainer{
    position: absolute;
    left: 58%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 2px;
    border-color: black;
    width: 30%;
        margin:auto;

        margin-top: 90px;

}


@media (max-width: 1000px) {
    
    .registroContainer{
        position: absolute;
        left: 60%;
        top: 40%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        padding: 15px;
        border: 2px;
        border-color: black;
        width: 50%;
            margin:auto;
    
            margin-top: 90px;
    
    }
}

@media (max-width: 800px) {
    
    .registroContainer{
        position: absolute;
        left: 40%;
        top: 40%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        padding: 15px;
        border: 2px;
        border-color: black;
        width: 30%;
            margin:auto;
    
            margin-top: 90px;
    
    }
}

@media (max-width: 400px) {
    .registroContainer{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        padding: 15px;
        border: 2px;
        border-color: black;
        width: 50%;
    
            margin-top: 90px;
    
    }
}